<!----start-container---->
<!----start-header---->
<div id="home" class="header scroll">
    <div class="container">
        <!---- start-logo---->
        <div class="logo">
            <a href="index.html"><img src="<%= asset_path('logo.png')%>" title="Mabur" /></a>
        </div>
        <!---- //End-logo---->
        <!----start-top-nav---->
        <nav class="top-nav">
            <ul class="top-nav">
                <li class="active"><a href="#home" class="scroll">В начало</a></li>
                <li class="page-scroll"><a href="#fea" class="scroll">О нас</a></li>
                <!--<li class="page-scroll"><a href="#port" class="scroll">Portfolio</a></li>-->
                <li class="page-scroll"><a href="#blog" class="scroll">Новости</a></li>
                <li class="page-scroll"><a href="#test" class="scroll">Команда</a></li>
                <li class="contatct-active" class="page-scroll"><a href="#contact" class="scroll">Контакты</a></li>
            </ul>
            <a href="#" id="pull"><img src="<%= asset_path('nav-icon.png')%>" title="menu" /></a>
        </nav>
        <div class="clearfix"> </div>
        <div class="slide-text text-center">
            <h1>Метрион. Торговая компания.</h1>
            <span>Товары со всего света.</span>
            <a class="slide-btn" href="#">Каталог</a>
        </div>
        <!----//End-top-nav---->
    </div>
</div>
<!----//End-header---->
<!----start-feartures----->
<div id="fea" class="features">
    <div class="container">
        <div class="head text-center">
            <h3><span> </span> О нас</h3>
            <p>Компания Метрион объединила людей верящих что товары должны доставляться потребителю быстро и с минимальными издержками. Наша миссия - продажа товаров через интернет магазин с минимальными наценками. </p>
        </div>
        <!---- start-features-grids---->
        <div class="features-grids text-center">
            <div class="col-md-3 features-grid">
                <span class="fea-icon1"><i class="fa fa-star"> </i> </span>
                <h3><a>Качественно</a></h3>
                <p>Только качественные товары представлены в нашем ассортименте</p>
            </div>
            <div class="col-md-3 features-grid">
                <span class="fea-icon1"><i class="fa fa-thumbs-up"> </i> </span>
                <h3><a>Удобно</a></h3>
                <p>Товар с доставкой это всегда удобно. Вы экономите свои деньги и время.</p>
            </div>
            <div class="col-md-3 features-grid">
                <span class="fea-icon1"><i class="fa fa-tachometer"> </i> </span>
                <h3><a>Быстро</a></h3>
                <p>Наша служба доставки бьет рекорды по времени. Экономия времени клиента - один из важнейших наших приоритетов.</p>
            </div>
            <div class="col-md-3 features-grid">
                <span class="fea-icon1"><i class="fa fa-mobile"> </i> </span>
                <h3><a>Информативно</a></h3>
                <p>Прозрачная информация о товаре и времени доставки. Вам не придется волноваться.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!---- //End-features-grids---->
    </div>
</div>
<!----//End-feartures----->
<!---- start-work---->
<div class="work">
    <div class="container">
        <div class="head text-center work-head">
            <h3><span> </span>Как это работает?</h3>
            <p>Мы верим в то, что шопинг в онлайн-магазинах должен быть выгодным, безопасным и увлекательным. Вот почему мы не только доставляем покупки, но и помогаем клиентам выбирать лучшие товары. К слову, с 2017 года мы снизили цены, и теперь стоимость доставки начинается от 1000 рублей при рекордных сроках — всего 5-7 дней. </p>
        </div>
        <!---- start-work-grids----->
        <div class="work-grids">
            <div class="col-md-4 work-grid">
                <span class="col-md-5 w-icon"> <i class="fa fa-check-square-o"> </i></span>
                <div class="col-md-7 work-info">
                    <h4>Выбор</h4>
                    <p>Вы выбираете товар по каталогу или через менеджера</p>
                </div>
            </div>
            <div class="col-md-4 work-grid center-work-grid">
                <span class="col-md-5 w-icon"> <i class="fa fa-retweet"> </i></span>
                <div class="col-md-7 work-info">
                    <h4>Сборка</h4>
                    <p>Мы соберем и бережно упакуем товар</p>
                </div>
            </div>
            <div class="col-md-4 work-grid">
                <span class="col-md-5 w-icon"><i class="fa fa-truck"> </i> </span>
                <div class="col-md-7 work-info">
                    <h4>Доставка</h4>
                    <p>Мы доставим вам его в кротчайшие сроки</p>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="work-map">
                <span> </span>
            </div>
        </div>
        <!---- //End-work-grids----->
    </div>
</div>
<!---- //End-work---->
<!----start-blog---->
<div id="blog" class="blog">
    <div class="container">
        <div class="head text-center">
            <h3><span> </span>Новости компании</h3>
        </div>
    </div>
    <!---- start-blog-time-line---->
    <div class="blog-time-line">
        <div class="col-md-6 blog-time-line-left">
        </div>
        <div class="col-md-6 blog-time-line-right">
            <div class="blog-post">
                <div class="col-md-2 blog-post-date">
                    <span><label>2 jan</label></span>
                </div>
                <div class="col-md-10 blog-post-info">
                    <span class="categorie">Category : <a href="#">Traveling</a></span>
                    <h4 class="post-head"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h4>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <div class="blog-post">
                <div class="col-md-2 blog-post-date">
                    <span><label>1 jan</label></span>
                </div>
                <div class="col-md-10 blog-post-info">
                    <span class="categorie">Category : <a href="#">Food</a></span>
                    <h4 class="post-head"><a href="#">Etiam placerat mauris orci. </a></h4>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <div class="blog-post">
                <div class="col-md-2 blog-post-date">
                    <span><label>31 Des</label></span>
                </div>
                <div class="col-md-10 blog-post-info">
                    <span class="categorie">Category : <a href="#">Traveling</a></span>
                    <h4 class="post-head"><a href="#"> consectetur adipiscing elit. </a></h4>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <div class="blog-post">
                <div class="col-md-2 blog-post-date">
                    <span><label>28 des</label></span>
                </div>
                <div class="col-md-10 blog-post-info">
                    <span class="categorie">Category : <a href="#">Adventure</a></span>
                    <h4 class="post-head"><a href="#">Ut convallis risus vitae mauris sodales</a></h4>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <div class="blog-post-time-line-connector">
                <span> </span>
            </div>
            <div class="more-blog-post-time-line-connector">
                <a href="#"><span>More</span></a>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!---- //End-blog-time-line---->
</div>
<!----//End-blog---->
<!----start-test-monials---->
<div  id="test" class="testmonials">
    <div class="container">
        <div class="head text-center">
            <h3><span> </span> Наша команда</h3>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
        </div>
        <!----start-testmonial-time-line---->
        <div class="test-monial-time-line">
            <div class="col-md-6 test-monial-time-line-left">
                <div class="test-monial-time-line-grid test-monial-time-line-grid-l1">
                    <div class="col-md-9 test-monial-time-line-left-text">
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.</p>
                    </div>
                    <div class="col-md-3 test-monial-time-line-left-pic">
                        <img src="<%= asset_path('pic1.jpg')%>" title="name" />
                        <a href="#">John Doe</a>
                    </div>
                    <span class="grid-point"> </span>
                </div>
            </div>
            <div class="col-md-6 test-monial-time-line-right">
                <div class="test-monial-time-line-grid test-monial-time-line-grid-r1">
                    <div class="col-md-3 test-monial-time-line-left-pic">
                        <img src="<%= asset_path('pic2.png')%>" title="name" />
                        <a href="#">John Doe</a>
                    </div>
                    <div class="col-md-9 test-monial-time-line-left-text">
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.</p>
                    </div>
                    <span class="grid-point grid-point1"> </span>
                </div>
                <div class="test-monial-time-line-grid test-monial-time-line-grid-r2">
                    <div class="col-md-3 test-monial-time-line-left-pic">
                        <img src="<%= asset_path('pic2.png')%>" title="name" />
                        <a href="#">John Doe</a>
                    </div>
                    <div class="col-md-9 test-monial-time-line-left-text">
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.</p>
                    </div>
                    <span class="grid-point grid-point1"> </span>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="test-monial-timeline-connector">
                <span> </span>
            </div>
            <div class="clearfix"> </div>
            <a class="more-testmonial-time-line" href="#"> <span>More</span></a>
        </div>
    </div>
</div>
<div class="clearfix"> </div>
<!----//End-testmonial-time-line---->
<!----start-contact---->
<div id="contact" class="contact">
    <div class="contact-map">
        <iframe src="https://maps.google.com/maps?t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=embed&amp;q=United+States&amp;ie=UTF8&amp;hq=&amp;hnear=United+States&amp;ll=37.359243,-91.525727&amp;spn=0.409036,0.837021&amp;z=11&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=embed&amp;q=United+States&amp;ie=UTF8&amp;hq=&amp;hnear=United+States&amp;ll=37.359243,-91.525727&amp;spn=0.409036,0.837021&amp;z=11&amp;source=embed"> </a></small>
    </div>
    <div class="contact-grids">
        <div class="col-md-6 contact-left">
            <h3><span> </span> Контакты</h3>
            <p><i class="fa fa-map-marker"> </i> Jl. Ringroad Utara no 17AB, Yogyakarta, 55282</p>
            <form>
                <input type="text" value="Name " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                <input type="text" value="info@mail.com *" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email@domain.com *';}">
                <textarea onfocus="if(this.value == 'Message *') this.value='';" onblur="if(this.value == '') this.value='Message *;">Message *</textarea>
                <p class="conditions"> <label><span>*</span>scelerisque sit amet felis sit nunc.</label></p>
                <span class="submit-btn"><input type="submit" value="Send"></span>
            </form>
        </div>
        <div class="col-md-6 contact-right">
            <span class="pin-map"> </span>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!----//End-contact---->
<!----start-footer---->
<div class="footer">
    <div class="container">
        <div class="footer-left">
            <a href="/admin">Админка (admin@example.com/password)</a>

        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                /*
                 var defaults = {
                 containerID: 'toTop', // fading element id
                 containerHoverID: 'toTopHover', // fading element hover id
                 scrollSpeed: 1200,
                 easingType: 'linear'
                 };
                 */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
</div>
<!----//End-footer---->
<!----//End-container---->

